.registration-box{
    width: 400px;
    padding: 20px;
    margin: 100px auto;
    margin-top: 200px;
    max-height: 400px;
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;

    h2 {
        margin: 0 0 30px;
        padding: 0;
        color: #03e9f4;
        text-align: center;
    }

    .user-box {
        position: relative;

        label {
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px 0;
            font-size: 16px;
            color: #03e9f4;
            pointer-events: none;
            transition: 0.5s;
        }
        input {
            width: 100%;
            padding: 10px 0;
            font-size: 16px;
            color: #03e9f4;
            margin-bottom: 30px;
            border: none;
            border-bottom: 1px solid #fff;
            outline: none;
            background: transparent;

            &:focus ~ label
            {
                top: -20px;
                left: 0;
                color: #03e9f4;
                font-size: 12px;
            }

        }


    }

    button {
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        color: #03e9f4;
        background-color: rgba(0, 0, 0, 0.5);
        border: none;
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: 0.5s;
        margin-top: 40px;
        letter-spacing: 2px;

       &:hover {
            background: #03e9f4;
            color: #000000;
            border-radius: 5px;
            box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
        }
    }
}