/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('assets/images/MyNotes-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height: 69.9vh;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }