<div class="bg-image" 
     style="background-image: url('../../assets/images/MyNotes-background.jpg');
            height: 100vh">
<section class="app-layout">
    <div class="container">
        <div class="header">
            <header-panel></header-panel>
        </div>

        <div class="body">
            <div class="navigation-bar">
                <navigation-bar></navigation-bar>
            </div>
            <div class="router-outlet">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</section>

</div>
