<!-- <div class="note-box">
  <div class="note-text">
    <label>Имя</label><br>
    <input name="text"  [(ngModel)] ="noteText" />

    
</div>
<div class="note-priority">
    <label>Priority</label><br>
    <select name="priority" [(ngModel)]="notePriority">
      <option *ngFor="let state of fileTypes | keyvalue" [value]="state.key">
        {{state.value}}
      </option>
    </select>

</div>
<div class="note-date">
  <input type="date" [(ngModel)]="dateSelected"/>     
</div>
<button (click)="submit()" >Отправить </button>
</div>
 -->

 <div class="user-note-form">
  <div class="text">
    <input type="text" placeholder="Your note" [(ngModel)] ="noteText"/>
  </div>  
  
  <div class="finished-date" >
    <div class="date" [hidden]="checkWithoutDate">
      <label>Finished</label>
      <input type="datetime-local" [(ngModel)]="dateSelected"/>
    </div>
    
    <div class="check-without-date">
      
      <input type="checkbox" [checked]="checkWithoutDate"
      (change)="checkWithoutDate = !checkWithoutDate"/>
     <span>Не добавлять время</span>
    </div>
  </div>

  <div>
    <button (click)="submit()" >Добавить </button>
  </div>
</div>
