.members{
    position: relative;
    height: 100%;
    margin-right: 50px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 20px;
}

.members-container{
    padding: 50px;
    
}

.members__no-items span{
    color: white;
    font-size: 30px;
}

.add-member-btn{
    position: absolute;
    top: 85%;
    left: 87%;
}

.add-member-btn button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.add-member-btn button:hover{
    cursor: pointer;
    border: 1px dashed #03e9f4;
    border-radius: 10px;
}