<div class="header">
  <div class="container">
    <div class="logo">
      <span>MY</span>
     </div>
  </div>
</div>

<div class="body">
  <div class="app-info">
    <div class="info-box">
      <div class="info-title">
        <h2>MY   NOTES</h2>
      </div>
      <div class="info-text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet earum at, sit debitis placeat reiciendis dolore. Omnis possimus incidunt et! Possimus repellat a dolorem error laudantium eaque. Sit, nobis culpa!</p>
      </div>
    </div>
  </div>

<div class="login-box">
    <h2>Login</h2>
    <form>
      <div class="user-box">
        <input 
          type="text" 
          name="email" 
          [ngModelOptions]="{standalone: true}"
          [(ngModel)]="email"
        >
        <label>Username</label>
      </div>
      <div class="user-box">
        <input 
          type="password" 
          [ngModelOptions]="{standalone: true}"
          [(ngModel)]="password"
         
        >
        <label>Password</label>
      </div>
      <div class="login-box-actions">
        <button (click)="onLoginClicked()">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Submit
        </button>

        <a href="registration">Registration</a>
      </div>
    </form>
  </div>
</div>